# -------------------------
# Simulation output files
# -------------------------
*.lammpstrj
*.lammps
*.log
*.data
*.dat
*.tmp
tmp

# -------------------------
# NEB output files
# -------------------------

dump.*
log.lammps.*
screen.*
tmp.lammps.variable

# Abinit output files
abo_*
ab.abo
ab.abo*
out

# -------------------------
# Executables and build artefacts
# -------------------------
movavg
rdf
ave
*.out
*.exe
*.o
*.a
*.so
*.dll

# -------------------------
# Miscellaneous files
# -------------------------
*.swp
