# -------------------------
# LAMMPS output files
# -------------------------
*.lammpstrj
*.lammps
*.log
*.data
*.dat
*.tmp
tmp

# -------------------------
# NEB output files
# -------------------------
dump.*
log.lammps.*
screen.*
tmp.lammps.variable

# -------------------------
# Abinit output files
# -------------------------
abo_*
abo.*
ab.abo
ab.abo*
out
*.xsf
*.cube
DOS_TOTAL_SHIFTED

# -------------------------
# Executables and build artefacts
# -------------------------
movavg
rdf
ave
*.out
*.exe
*.o
*.a
*.so
*.dll

# -------------------------
# Miscellaneous files
# -------------------------
*.swp
