# -------------------------
# Simulation output files
# -------------------------
*.lammpstrj
*.lammps
*.log

# Abinit output files
abo_*
ab.abo

# -------------------------
# Executables and build artefacts
# -------------------------
*.out
*.exe
*.o
*.a
*.so
*.dll
